<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="css/login.css" rel="stylesheet" type="text/css" />
    <title>登录2</title>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="bgLogin">
    <div class="login">
        <div class="logo"></div>
        <form action="" id="formID" method="post">
            <ul class="cont">
                <li class="l1">
					<span>
						<input name="userName" type="text" class="ext" v-model="userName" />
					</span>
				</li>
                <li class="l2">
					<span>
						<input name="password" type="password" class="ext" v-model="password" autocomplete="off" />
					</span>
				</li>
                <li class="l4">
					<span>
						<input name="" type="text" class="ext" />
						<b><img v-bind:src="imgsrc"  v-on:click="RandomCode" /></b>
					</span>
				</li>
                <li class="l5">
					<input name="" type="button" class="btn" v-on:click="Login" />
				</li>
                <li class="l6">
					<a href="#">忘记密码</a>
				</li>
            </ul>
        </form>
    </div>
	
<script>
	const app = Vue.createApp({
		data () {
		  return {
			userName: '13575726536',
			password: '111111',
			imgsrc: 'images/img01.jpg'
		  }
		},
		methods: {
		    // 1.登录
			Login: function(){
				axios.post('http://47.105.51.33:9090/api/user/login',{
						userName:this.userName,
						password:this.password
					},{
						headers: {'Content-Type':'application/json;charset=utf8'}
					}
				)
				.then(function(res){
					console.log('服务器返回：'+res.data.message);
					alert('服务器返回：'+res.data.message);
				});
			},
			// 2.获取验证码
			RandomCode: function(){
				var _this =this;
				axios.get('http://121.41.14.39:31999/sys/randomImage/'+(new Date()).valueOf()	)
				.then(function(res){
					// debugger;
					if(res.data.code==0){//响应消息code为1表示登录成功，这是后端规定的
						_this.imgsrc=res.data.result;//返回的验证码图片是base64格式
					}else{
						alert(res.data.message);//弹窗提示登录失败原因
					}
				}); 
			}
		},
		// 3.在组件内容被渲染到页面之后自动执行获取验证码函数
		mounted() {
			this.RandomCode();
		}
	  });
	  
	  //99.将vue应用挂载到页面DOM
	  const vm=app.mount('.login');
</script>
</body>
</html>